<div class="col-md-2"></div>
<div class="col-md-8">
<div id="masonry-container" class="transitions-enabled centered clearfix masonry">
  <div class="row" style="background-color:#d8d5d208">
    <% obj.each do |post| %>
        <div class="box col3 panel panel-default">
          <%= image_tag post.image.url %><br>
          <div class="panel-body">  
            <b style="color:red;font-weight:bold"><%= link_to post.title , post %></b>
          </div>
        </div>
    <% end %>
  </div>
</div>
</div>
<div class="col-md-2"></div>