<style>
.box{
	background: none;
	background-color: transparent
}
.panel{
	border:none;
	border-radius:none
}
.col3{width:180px;}
</style>
<h3 align="center">Characters</h3>
<%= render 'userpost', obj: @posts %>
