// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box{
	background: none;
	background-color: transparent
}
.panel{
	border:none;
	border-radius:none
}
.col3{width:180px;}